{% extends 'base.html' %} {% block content %}
<div class="players">
</div>
<h1>room {{code}}</h1>

<div class="count" ><p id="count"></p></div>
<div class="players" ><p id="players"></p></div>


<script type="text/javascript">
  var socketio = io('http://'+window.location.host);

  const messages = document.getElementById("messages");
 socketio.on('join', (data) => {
    console.log(data.name,data.total,data.players);
    $('#count').append(data.players);
    $('#players').append(data.name,":",data.msg);
   
 });
 socketio.on('leave',(data)=>{
   console.log(data.name,data.total,data.players);
   $('#count').text(data.players);
    $('#players').text(data.name);
 });

</script>

{% endblock %}